:root {
    /*Colors*/
        --very-dark-blue: hsl(243, 87%, 12%);
        --desaturated-blue: hsl(238, 22%, 44%);
        --bright-blue: hsl(224, 93%, 58%);
        --moderate-cyan: hsl(170, 45%, 43%);
        --light-grayish-blue: hsl(240, 75%, 98%);
        --light-gray: hsl(0, 0%, 75%)
    
    /*
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

/*HEADER STYLES*/

.containerTop {
    display: flex;
    align-items: center;
    
    height: 60px;
    width: 100%;
    max-width: 500px;
}

header {
    width: 120px;
}

.logoTop {
    width: 110px;
}

.navContainer {
    width: calc(100% - 120px);
    display: flex;
    justify-content: end;
}

.navList {
    display: flex;
    gap: 15px;

    list-style: none;
    font-family: 'Raleway', sans-serif;
    color: var(--desaturated-blue);
}

li {
    cursor: pointer;
}

/*MAIN STYLES*/

.mainContainer {
    margin-top: 20px;
    max-width:  500px;
}

.descriptionContainer, .infoContainer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.illustrationImg {
    width: 100%;
}

.descriptionContent {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.descriptionH2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 26px;
    color: var(--very-dark-blue);
}

.descriptionP {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: var(--very-dark-blue);
}

.getStarted {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.emailInput {
    height: 40px;
    width: 100%;
    border: 1px solid var(--very-dark-blue);
    border-radius: 5px;
    outline: none;
    text-align: start;
    padding: 5px;
}

.startBtn {
    height: 40px;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: var(--bright-blue);
    color: var(--light-grayish-blue);
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 17px;
}

.startBtn:hover {
    opacity: 0.8;
    cursor: pointer;
}

/*INFO CONTAINER*/
.infoContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.infoH2 {
    margin-top: 25px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: var(--very-dark-blue);
}

.infoP {
    margin-top: 25px;
    line-height: 23px;

    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: var(--desaturated-blue);
}

.link {
    width: 30%;
    margin-top: 25px;
    text-decoration: none;
    color: var(--moderate-cyan);
    border-bottom: 1px solid var(--moderate-cyan);
}

@media screen and (min-width: 800px) {
    * {
        text-align: start;
    }

    .containerTop {
        max-width: 100%;
    }

    .mainContainer {
        max-width: 100%;
    }

    .descriptionContainer, .infoContainer {
        flex-direction: row;
    }

    .illustrationImg {
        width: calc(100% - 50px);
    }

    .getStarted {
        flex-direction: row;
    }

    .emailInput {
        width: 65%;
    }

    .startBtn {
        width: 35%;
        text-align: center;
        font-size: 15px;
    }
}